@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter&display=swap');
*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    /*background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAN0lEQVQYV2NkYGBkYGD4z5AVdfb/tGUmjCA2I0gwK+oMVIABrAAsCAIICbAgsgDEKLhKEAemCwBBHRYHVXjj4QAAAABJRU5ErkJggg==");*/

}
.logo
{
    color:#ebebeb;
    font-size:16px;
    margin-right:60%;
    text-shadow: 3px 3px 3px black;
}
.logo a
{
    text-decoration:none;
    color:#ebebeb;
}
nav
{
    font-family: 'Bungee', cursive;
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    background-color:#6a5acd;
    text-shadow: 3px 3px 3px black;
}
.navl
{
    display:flex;
    justify-content: space-around;
    width:20%;
}
.navl li
{
    list-style: none;
}
.navl a
{
    color:#ebebeb;
    text-decoration:none;
    font-size:16px;
}
.title
{
    text-align:center;
}
.div
{
    background-color: #6a5acd;
}
.div1
{
    margin-top: 3%;
    background-color: #6a5acd;
    margin-left: 50%;
    width: 50%;
    transform: translateX(-50%);
}
.div2
{
    background-color:#6a5acd;
    margin-top: 3%;
    color:white;
    text-align: center;
    
}
#sup
{
    color:azure;
}
.lsbut
{
    width: 75px;
}
.note
{
    margin-top:20%;
    font-size:13px;
}
.bg
{
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAN0lEQVQYV2NkYGBkYGD4z5AVdfb/tGUmjCA2I0gwK+oMVIABrAAsCAIICbAgsgDEKLhKEAemCwBBHRYHVXjj4QAAAABJRU5ErkJggg==");
}
.tab
{
    margin-left:30px;
    margin-right:30px;
    background-color: white;
    color:black;
    font-size:14px;
}
.price
{
    background-color: lightgreen;
}
.bsucs
{
    color:lightgreen;
    text-shadow:1px 1px 1px black;
}
.berror
{
    color:red;
    text-shadow:1px 1px 1px black;
}